body { 
  font-family: 'Overpass Mono', monospace;
  font-size:18px; 
  margin:0px 0px;
  font-weight:300;
  padding:0px;
  height:100vh;
}

* { box-sizing: border-box; }

#app {
  width:100%;
  height:100%;
}


@-webkit-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(76, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(76, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(76, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 30px rgba(76, 76, 61, 0);}}


@-webkit-keyframes upload {to {box-shadow: 0 0 0 10px rgba(76, 76, 61, 0);}}
@-moz-keyframes upload {to {box-shadow: 0 0 0 10px rgba(76, 76, 61, 0);}}
@-ms-keyframes upload {to {box-shadow: 0 0 0 10px rgba(76, 76, 61, 0);}}
@keyframes upload {to {box-shadow: 0 0 0 10px rgba(76, 76, 61, 0);}}



@keyframes record-bar { 
  to { width:100%; backbround-color:rgba(60,60,60,1.0); }
}

@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
}

.recorder {

  &__header {
    background-color:black;
    text-align:center;
    padding:5px;
    color:#ff00ff;
    letter-spacing: .2em;  
    text-transform: uppercase;
    font-size:25px;
    position: absolute;
    width: 100%;
    padding-top: 10px;
  }

  &__buttons {
    position:absolute;;
    height:130px;
    left:0px;
    width:100%;
    bottom:45%;
    
  }

  &__record {
    position:absolute;
    left:0;
    right:0;
    width:150px;
    height:150px;
    color:white;
    border-radius:50%;
    background-color:#ff00ff;
    margin:0 auto;
    border:0px;
    font-family: 'Overpass Mono', monospace; 
    font-size:22px;
    text-transform: uppercase;
    letter-spacing: .1em; 
    padding-bottom: 40px;

    &:active { 
      outline: none;
    }
  }

  &__connecting {  
    position:absolute;
    left:0;
    right:0;
    width:150px;
    height:150px;
    color:black;

    background-color:#00ffff;
    margin:0 auto;
    border:0px;
    font-family: 'Overpass Mono', monospace; 
    font-size:18px;
    text-align:center;  
    text-transform: uppercase;
    letter-spacing: .1em; 

  

    box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.7);
    -webkit-animation: pulse 0.75s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 0.75s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 0.75s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 0.75s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  &__noconnect {
    position:absolute;
    top:45%;
    left:10%;
    width:80%;
    text-align:center;
  }

  &__recording {
    position:absolute;
    left:0px;
    bottom:0px;
    height:30px;
    width:0%;
    background: rgb(255,0,255);
    background: linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(0,212,255,1) 100%);
    animation: record-bar 5.5s 1 linear;
  }

  &__uploading {
    position:absolute;
    left:0px;
    right:0px;
    top:150px;
    padding:15px 0px;
    height: 300px;  
    text-align:center;
    color:white;
    background: rgb(255,0,255);
    background: linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(0,212,255,1) 100%);
    margin:0 auto;
    border:0px;
    bottom:10px;

    box-shadow: 0 0 0 0 rgba(255, 0, 200, 1.0);
    -webkit-animation: upload 2.0s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: upload 2.0s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: upload 2.0s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: upload 2.0s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  &__animation  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 250px;
    margin: 0 auto;
    }  

  &__preview {
    //video { width:100%;  }
       video { height:100vh}
  }

  &__message {
    position: absolute;
    top: 65px;
    width: 38%;
    font-size: 13px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: white;
    line-height: 1.4em;
  }

}


.start {
  position:absolute;
  z-index:1000;
  border:0px;
  margin:auto;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  width:150px;
  padding:10px;
  height:150px;
  border-radius:50%;    
  background-color:black;
  color:white;
  font-family: 'Overpass Mono', monospace; 
  font-size:22px;
  text-transform: uppercase;
    letter-spacing: .15em;
    word-spacing: -7px;  
}

.selfie1 {
    animation: hideshow 10s ease infinite;
}

.selfie2 {
    opacity: 0;
    animation: hideshow 10s 1.5s ease infinite;
}

.selfie3 {
  opacity: 0;
  animation: hideshow 10s 3s ease infinite;
}

svg { width:200px; height:200px;  }

.st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:20;}
.st1{fill:#FFFFFF;}
.st2{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}

@keyframes hideshow {
  0% { opacity: 0; }
  25% { opacity: 0; }
  26% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0}
  100% { opacity: 0; }
}

.selfie1 {
  animation: hideshow 4s 0s linear infinite;
}

.selfie2 {
  opacity: 0;
  animation: hideshow 4s 1s linear infinite;
}

.selfie3 {
  opacity: 0;
  animation: hideshow 4s 2s linear infinite;
}

.selfie4 {
  opacity: 0;
  animation: hideshow 4s 3s linear infinite;
}




